.favoritesContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.favoritedSong {
  
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}