.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.logo { /* colocar svg */
  height: 5rem;
  width: 5rem;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;
  gap: 10px;
  width: 55rem;
}

.sorry {
  font-size: 10rem;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  letter-spacing: 0.02rem;
}

.notfind {
  font-size: 3rem;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  letter-spacing: 0.02rem;
}