.container {
  display: flex;
  justify-content: center;
}

.userContainer {
  margin-top: 3rem;
  padding: 3rem;
  width: 30rem;

  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.userImageContainer {
  display: flex;
}

.userIcon {
  margin-right: 3rem;
  margin-left: 9.8rem;
}

.userImage {
  height: 10rem;
  width: 10rem;

  margin-left: 8rem;
  margin-right: 1rem;
}

.editButton {  
  border: none;
  border-radius: 2px;

  height: 2rem;
  width: 7rem;
  margin-top: 1rem;
  

  background-color: var(--silver-200);
  color: var(--white);
}

.nameHeader {
  margin-top: 2rem;
}

.name {
  margin-top: 0.5rem;
}

.emailHeader {
  margin: 1rem;
}

.descriptionHeader {
  margin-top: 1rem;
}

.description {
  margin-top: 1rem;
  text-align: justify;
}

.logoutBtn {
  border: none;
  border-radius: 2px;

  height: 2rem;
  width: 7rem;
  margin-top: 5rem;

  background-color: var(--silver-200);
  color: var(--white);
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .userContainer {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 22rem;
  }

  .userImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .userIcon {
    margin-left: 0;
    margin-right: 0;
  }

  .userImage {
    margin-left: 0;
    margin-right: 0;
  }
}
