.userContainer {
  display: flex;
  justify-content: center;

  margin-top: 3rem;
}

.userContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userImageContainer {
  display: flex;
}


.userImageContainer input {
  height: 2rem;
  margin-top: 1.3rem;
  margin-left: 0.5rem;
  padding-left: 10px;
  width: 17rem;
  
  border: var(--silver-100) solid 1px;
  outline: none;
}

.userImage {
  height: 10rem;
  width: 10rem;
}

.inputContainer h4 {
  color: var(--silver-600);

  margin-top: 1rem;
}

.inputContainer > p {
  margin-top: 0.2rem;
  font-style: italic;

  color: var(--goldenrod);
}

.inputContainer input {
  height: 2rem;
  margin-top: 0.3rem;
  padding-left: 10px;
  width: 30rem;

  border: var(--silver-100) solid 1px;
  outline: none;
}

.description {
  padding-bottom: 8rem;
  margin-top: 0.3rem;
  padding-left: 10px;
  padding-top: 0.2rem;

  overflow-wrap: break-word;
  border: var(--silver-100) solid 1px;
  outline: none;
}

.saveBtn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2rem;

  background-color: var(--silver-300);
  color: var(--white);
  border: none;
  border-radius: 2px;
}

.saveBtn:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--silver);
  transition: background-color 0.1s;
}

.saveBtn:disabled {
  cursor: not-allowed;
  background-color: var(--silver-100);
}
